@font-face {
  font-family: 'MullerMedium';
  src: url('MullerMedium.eot');
  src: local('Muller Medium'), local('MullerMedium'),
    url('../fonts/MullerMedium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff'),
    url('../fonts/MullerMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MullerRegular';
  src: url('MullerRegular.eot');
  src: local('Muller Regular'), local('MullerRegular'),
    url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff'),
    url('../fonts/MullerRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller Regular';
  src: url('MullerRegularItalic.eot');
  src: local('Muller Regular Italic'), local('MullerRegularItalic'),
    url('../fonts/') format('embedded-opentype'),
    url('../fonts/MullerRegularItalic.woff2') format('woff2'),
    url('../fonts/MullerRegularItalic.woff') format('woff'),
    url('../fonts/MullerRegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'MullerLight';
  src: url('MullerLight.eot');
  src: local('Muller Light'), local('MullerLight'),
    url('../fonts/MullerLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff'),
    url('../fonts/MullerLight.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MullerBold';
  src: url('MullerBold.eot');
  src: local('Muller Bold'), local('MullerBold'),
    url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff'),
    url('../fonts/MullerBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  background-color: #E6E8EC;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* header */
.header {
  position: relative;
  width: 100%;
  background-color: #fff;
}

/* container */
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 405px;
}

.logo-wrapper {
  position: absolute;
  width: 160px;
  top: 27px;
}

.logo {
  width: 160px;
  height: 20px;
}

.header__top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 80px;
}

.header__bottom-section {
  width: 100%;
  min-height: 60px;
  display: flex;
}

.header__bottom-section::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #D2D5DD;
  top: 80px;
  left: 0;
}

.header__bottom-section::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #D2D5DD;
  bottom: 0;
  left: 0;
}


.burger {
  display: none;
}

.header__top-nav {
  width: 100%;
  min-height: inherit;
}

.header__top-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 240px;
  padding-right: 56px;
  justify-content: space-between;
  transition: padding .3s ease-in-out;
}

.header__top-link {
  font-family: 'MullerRegular';
  font-size: 20px;
  line-height: 20px;
  color: #121723;
  outline: none;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.header__top-link:hover {
  color: #6D31EE;
}

.header__top-link:focus {
  color: #fff;
  background-color: #AA9DFA;
}

.header__top-link:active {
  color: #4F28A5;
  background-color: transparent;
}

.header__top-log-in-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 43px;
  gap: 4px;
  width: 104px;
  height: 40px;
  border: 2px solid #121723;
  outline: none;
  border-radius: 77px;
  background-color: transparent;
  cursor: pointer;
  font-family: 'MullerMedium';
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #121723;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.header__top-log-in-btn:hover {
  background-color: #121723;
  color: #fff;
}

.header__top-log-in-btn:focus {
  background-color: #AA9DFA;
  color: #121723;
}

.header__top-log-in-btn:active {
  background-color: #4F28A5;
  color: #fff;
}


.header__top-nav-decoration {
  display: none;
}

.header__bottom-nav {
  width: 100%;
  min-height: inherit;
}

.header__bottom-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 55px;
}

.header__bottom-link {
  font-family: 'MullerRegular';
  font-size: 16px;
  line-height: 16px;
  color: #121723;
  outline: none;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.header__bottom-link:hover {
  color: #6D31EE;
}

.header__bottom-link:focus {
  color: #fff;
  background-color: #AA9DFA;
}

.header__bottom-link:active {
  color: #4F28A5;
  background-color: transparent;
}


.form__search {
  position: relative;
}

.form__search-input {
  border-color: transparent;
  width: 0px;
  transition: width .5s ease-in-out, border-color .5s ease-in-out;
  padding-left: 20px;
  padding-right: 25px;
  margin-right: 25px;
  outline: none;
  border: none;
}

.form__search-input:focus {
  width: 100%;
}

.form__search-input:active {
  width: 0;
}

.form__search-input::placeholder {
  font-family: 'MullerRegular';
  font-size: 16px;
  line-height: 16px;
  color: #A1A6B4;
}

.header.open-search .form__search-input {
  width: 200px;
  border-bottom: 1px solid #6D31EE;
}

.header.open-search .header__top-menu {
  padding-right: 0;
  transition: padding .5s ease-in-out, justify-content .5s ease-in-out;
  will-change: padding, justify-content;
}

.form__open-btn {
  position: absolute;
  border: none;
  background-color: transparent;
  outline: none;
  width: 24px;
  height: 24px;
  top: 0px;
  right: 30px;
  cursor: pointer;
}

.form__open-btn-icon {
  width: 24px;
  height: 24px;
  transition: stroke .3s ease-in-out;
}

.form__open-btn-icon path {
  transition: stroke .3s ease-in-out;
}

.form__open-btn:focus {
  outline: none;
  border: none;
}

.form__open-btn:hover .form__open-btn-icon path {
  stroke: #AA9DFA;
}

.form__open-btn:focus .form__open-btn-icon path {
  stroke: #AA9DFA;
}

.form__open-btn:active .form__open-btn-icon path {
  stroke: #4F28A5;
}

.header.open-search .form__open-btn {
  display: none;
}

.form__close-btn {
  position: absolute;
  border: none;
  background-color: transparent;
  outline: none;
  width: 22px;
  height: 22px;
  top: 0px;
  right: 33px;
  cursor: pointer;
}

.form__close-btn:focus {
  outline: none;
  border: none;
}

.form__close-btn-icon {
  width: 22px;
  height: 22px;
}

.form__close-btn-icon circle,
.form__close-btn-icon path {
  transition: stroke .3s ease-in-out;
}

.form__close-btn:hover .form__close-btn-icon circle,
.form__close-btn:hover .form__close-btn-icon path {
  stroke: #AA9DFA;
}

.form__close-btn:focus .form__close-btn-icon circle,
.form__close-btn:focus .form__close-btn-icon path {
  stroke: #AA9DFA;
}

.form__close-btn:active .form__close-btn-icon circle,
.form__close-btn:active .form__close-btn-icon path {
  stroke: #4F28A5;
}

.header .form__close-btn {
  display: none;
}

.header.open-search .form__close-btn {
  display: block;
}

.registration-form {
  position: absolute;
  min-width: 824px;
  min-height: 655px;
  top: -824px;
  right: 560px;
  background-color: #121723;
  z-index: 3;
  transition: transform .5s ease-in-out;
  will-change: transform;
}

.header.open-registration-form .registration-form {
  transform: translateY(824px);
  transition: transform .5s ease-in-out;
  will-change: transform;
}

.registration-form__content {
  position: relative;
  min-width: inherit;
  min-height: inherit;
  padding: 60px;
}

.registration-form__content::after {
  position: absolute;
  width: 704px;
  height: 1px;
  content: "";
  left: 60px;
  top: 475px;
  background-color: #E6E8EC66;
}

.registration-form__close-btn {
  position: absolute;
  border: none;
  outline: none;
  background-color: transparent;
  right: 30px;
  top: 30px;
  cursor: pointer;
}

.registration-form__close-btn-icon {
  width: 42px;
  height: 42px;
}

.registration-form__close-btn-icon circle,
.registration-form__close-btn-icon path {
  transition: .3s ease-in-out;
}

.registration-form__close-btn:hover .registration-form__close-btn-icon circle,
.registration-form__close-btn:hover .registration-form__close-btn-icon path {
  stroke: #6D31EE;
}

.registration-form__close-btn:focus .registration-form__close-btn-icon circle,
.registration-form__close-btn:focus .registration-form__close-btn-icon path {
  stroke: #AA9DFA;
}

.registration-form__close-btn:active .registration-form__close-btn-icon circle,
.registration-form__close-btn:active .registration-form__close-btn-icon path {
  stroke: #4F28A5;
}

.registration-form__title {
  font-family: 'MullerRegular';
  font-size: 48px;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 17px;
}

.registration-form__description {
  font-family: 'MullerRegular';
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.registration-form__registration-link {
  font-family: 'MullerRegular';
  font-size: 20px;
  line-height: 150%;
  color: #6D31EE;
  border: none;
  outline: none;
  transition: color .3s ease-in-out;
}

.registration-form__registration-link:hover {
  color: #AA9DFA;
}

.registration-form__registration-link:focus {
  color: #AA9DFA;
}

.registration-form__registration-link:active {
  color: #4F28A5;
}

.registration-form__input-wrapper-1 {
  position: absolute;
  top: 175px;
  height: 70px;
  width: 526px;
  display: flex;
  flex-direction: column-reverse;
}

.registration-form__input-wrapper-2 {
  position: absolute;
  top: 275px;
  height: 70px;
  width: 526px;
  display: flex;
  flex-direction: column-reverse;
}

.just-validate-error-label {
  z-index: 3;
  padding-left: 30px;
  padding-bottom: 5px;
}



.registration-form__input {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'MullerRegular';
  font-size: 20px;
  line-height: 20px;
  padding: 10px 10px 10px 32px;
  gap: 10px;
  position: absolute;
  width: 526px;
  height: 70px;
  border: 1px solid #FFFFFF;
  outline: none;
  color: #fff;
  border-radius: 40px;
  background-color: transparent;
  transition: background-color .3s ease-in-out;
}

.registration-form__input:hover {
  background-color: #292E39;
}

.registration-form__input:focus {
  background-color: #292E39;
}

.registration-form__input::placeholder {
  font-family: 'MullerRegular';
  font-size: 20px;
  line-height: 20px;
  color: #A1A6B4;
}

.registration-form__log-in-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 54px;
  gap: 10px;
  position: absolute;
  width: 167px;
  height: 70px;
  left: 60px;
  top: 375px;
  background: #6D31EE;
  border-radius: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: 'MullerMedium';
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.registration-form__log-in-btn:hover {
  background-color: #AA9DFA;
}

.registration-form__log-in-btn:focus {
  border: 2px solid #4F28A5;
  background-color: #AA9DFA;
}

.registration-form__log-in-btn:active {
  border: 2px solid transparent;
  background-color: #4F28A5;
}


.registration-form__entry-options-text {
  position: absolute;
  width: 274px;
  height: 20px;
  left: 60px;
  top: 505px;
  font-family: 'MullerRegular';
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}

.registration-form__social-content {
  position: absolute;
  top: 538px;
  left: 60px;
  width: 190px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.registration-form__social-link {
  outline: none;
}

.registration-form__social-icon g path,
.registration-form__social-icon rect {
  transition: fill .3s ease-in-out;
}

.registration-form__social-link:hover .registration-form__social-icon g path,
.registration-form__social-link:hover .registration-form__social-icon rect {
  fill: #6D31EE;
}

.registration-form__social-link:focus .registration-form__social-icon g path,
.registration-form__social-link:focus .registration-form__social-icon rect {
  fill: #AA9DFA;
}

.registration-form__social-link:active .registration-form__social-icon g path,
.registration-form__social-link:active .registration-form__social-icon rect {
  fill: #4F28A5;
}

.header__play-btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0;
  min-width: 173px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.header__play-btn::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 40px;
  background-color: #D2D5DD;
  top: 10px;
  left: 0;
}

.header__play-btn::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 40px;
  background-color: #D2D5DD;
  top: 10px;
  right: -1px;
}


.header__play-icon-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 9px;
}

.header__play-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.header__play-title {
  font-family: 'MullerRegular';
  font-size: 12px;
  line-height: 12px;
  color: #A1A6B4;
  padding-right: 35px;
  margin-bottom: 5px;
}

.header__play-description {
  font-family: 'MullerRegular';
  font-size: 16px;
  line-height: 16px;
  color: #121723;
  padding-right: 45px;
}

.header__age-wrapper {
  display: flex;
  min-width: 98px;
  justify-content: flex-end;
}

.header__play-icon-768-wrapper {
  display: none;
}

.header__accordion-320 {
  display: none;
}

/* main */
.main {
  width: 100%;
}



/* section-hero */
.section-hero {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.hero {
  position: relative;
  width: 100%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
}

.hero__img-microphone-wrapper {
  position: absolute;
  top: 30px;
  right: 0;
  object-fit: cover;
}

.hero__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 94px;
}

.hero__title {
  font-family: 'MullerBold';
  font-size: 60px;
  line-height: 100%;
  color: #121723;
  margin-right: 13px;
}

.hero__title-slogan {
  font-family: 'Muller Regular';
  font-size: 60px;
  line-height: 100%;
  color: #121723;
}

.hero__description-wrapper {
  max-width: 635px;
  padding-top: 14px;
  margin-bottom: 46px;
}

.hero__description {
  font-family: 'MullerRegular';
  font-size: 16px;
  line-height: 150%;
  color: #121723;
}

.hero__play-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 54px;
  gap: 10px;
  width: 245px;
  height: 70px;
  left: 405px;
  top: 286px;
  background: #6D31EE;
  border-radius: 40px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: 'MullerMedium';
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  transition: background-color .3s ease-in-out;
}

.hero__play-btn:hover {
  background-color: #AA9DFA;
}

.hero__play-btn:focus {
  background-color: #AA9DFA;
  outline: 2px solid #4F28A5;
}

.hero__play-btn:active {
  background-color: #4F28A5;
  outline: none;
}



/* podcasts */
.section-podcasts {
  width: 100%;
  padding-bottom: 94px;
}

.podcastst {
  width: 100%;
  min-height: inherit;
  padding-top: 95px;
}

.podcasts__title {
  font-family: 'MullerRegular';
  font-size: 48px;
  line-height: 100%;
  color: #121723;
  margin-bottom: 30px;
}


.container-fluid {
  padding: 0;
}

.podcasts__card {
  min-height: 140px;
  margin-bottom: 30px;
}

.podcasts__card-content-wrapper {
  position: relative;
  min-height: 100%;
  background-color: #fff;
  display: flex;
}

.podcasts__card-picture {
  display: block;
  min-height: 100%;
}

.podcasts__card-desctop-img,
.podcasts__card-mobile-img {
  object-fit: cover;
  height: 100%;
  min-width: 112px;
}

.podcasts__card-date {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3px 6px;
  font-family: 'MullerRegular';
  font-size: 10px;
  line-height: 10px;
  color: #121723;
  background-color: #E6E8EC;
  height: fit-content;
}

.podcasts__card-play-btn {
  position: absolute;
  top: 30px;
  right: 25px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
}

.podcasts__card-time {
  font-family: 'MullerRegular';
  font-size: 12px;
  line-height: 12px;
  color: #121723;
  padding: 24px 0 0 30px;
  margin-bottom: 8px;
}

.podcasts__card-title {
  font-family: 'MullerRegular';
  font-size: 20px;
  line-height: 20px;
  color: #121723;
  padding: 0 0 0 30px;
  margin-bottom: 4px;
}

.podcasts__card-podcast-author {
  font-family: 'MullerRegular';
  font-size: 16px;
  line-height: 16px;
  color: #A1A6B4;
  padding: 0 0 0 30px;
  margin-bottom: 24px;
}

.podcasts__card-content {
  width: 100%;
  height: 100%;
}

.podcasts__card-social-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 8px 0 0 30px;
  border-top: 1px solid #A1A6B4;
}

.podcasts__card-social-link {
  font-family: 'MullerRegular';
  font-size: 16px;
  line-height: 16px;
  color: #A1A6B4;
}

.podcasts__card-social-link:not(:last-child) {
  margin-right: 30px;
}

.podcasts__card-social-icon {
  height: 16px;
}

.header__podcasts-accordion {
  width: 100%;
  height: 100%;
}

.header__podcasts-accordion-item {
  width: 100%;
  height: 100%;
}

.header__podcasts-accordion-header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__podcasts-accordion-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 54px;
  width: 246px;
  height: 70px;
  border: 2px solid #6D31EE;
  border-radius: 40px;
  font-family: 'MullerMedium';
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #6D31EE;
  cursor: pointer;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.header__podcasts-accordion-button:hover {
  background-color: #6D31EE;
  color: #fff;
}

.header__podcasts-accordion-button:focus {
  background-color: #AA9DFA;
  color: #fff;
  outline: none;
}

.header__podcasts-accordion-button:active {
  background-color: #4F28A5;
  color: #fff;
  outline: none;
}

.podcastst .container-fluid {
  margin-bottom: 30px;
}

.header__podcasts-accordion-body {
  padding-top: 60px;
}



/* broadcast */
.section-broadcast {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

.broadcast__content {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 752px;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding-top: 95px;
  padding-bottom: 94px;
}

.broadcast__col-1 {
  position: absolute;
  background-color: red;
  min-width: 255px;
  top: 94px;
  left: 0;
}

.broadcast__col-2 {
  background-color: green;
  width: 100%;
  max-width: 825px;
  margin: 0;
  padding-top: 11px;
}

.broadcast__col-3 {
  position: absolute;
  background-color: yellow;
  min-height: 214px;
  min-width: 255px;
  bottom: 94px;
  left: 0;
}

.broadcast__title {
  font-family: 'MullerRegular';
  font-size: 48px;
  line-height: 100%;
  color: #121723;
  margin-bottom: 12px;
}

.broadcast__label {
  position: relative;
  display: flex;
  flex-direction: column;
}

.broadcast__label-author {
  font-family: 'MullerRegular';
  font-size: 16px;
  line-height: 16px;
  color: #A1A6B4;
  margin-bottom: 8px;
}

.broadcast__list-authors {
  background: #E6E8EC;
  border-radius: 10px;
  border: none;
  padding: 10px 9px;
  font-family: 'MullerRegular';
  font-size: 16px;
  line-height: 16px;
  color: #121723;
  appearance: none;
}

.broadcast__label::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border: 1px solid #A1A6B4;
  right: 18px;
  bottom: 16px;
  background-color: #E6E8EC;
  transform: rotate(45deg);
  border-left: transparent;
  border-top: transparent;
}

.broadcast__col-3-wrapper {
  position: relative;
  min-width: 100%;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.broadcast__microphone-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.broadcast__archive-link {
  padding: 12px 56px;
  margin-bottom: 12px;
  border: 2px solid #121723;
  border-radius: 77px;
  width: 160px;
  height: 40px;
  font-family: 'MullerMedium';
  font-size: 16px;
  line-height: 16px;
  color: #121723;
  cursor: pointer;
}

.broadcast__description {
  max-width: 255px;
  font-family: 'MullerRegular';
  font-size: 16px;
  line-height: 150%;
  color: #A1A6B4;
}

.broadcast__row {
  display: flex;
  justify-content: space-between;
}

.broadcast__card {
  max-width: 255px;
  border: 1px solid #E6E8EC;
  display: flex;
  flex-direction: column;
}

.broadcast__card-content {
  width: 100%;
  padding: 20px 16px;
}

.broadcast__card-name {
  font-family: 'MullerMedium';
  font-size: 20px;
  line-height: 20px;
  color: #121723;
  margin-bottom: 4px;
}

.broadcast__card-note {
  font-family: 'MullerRegular';
  font-size: 12px;
  line-height: 12px;
  color: #A1A6B4;
  margin-bottom: 16px;
}

.broadcast__card-link {
  font-family: 'MullerRegular';
  font-style: italic;
  font-size: 16px;
  line-height: 16px;
  color: #121723;
}

.broadcast__card-icon {
  margin: 0;
}
