@media (max-width: 768px) {
    .section-adv {
        min-height: 1125px;
    }  

    .adv {
        min-height: 1073px;
        padding: 54px 0 92px 0;
        flex-direction: column;
        justify-content: flex-start;
    }

    .adv__wrap-w-wave {
        max-width: 540px;
        max-height: 474px;
        margin-bottom: 50px;
    }

    .adv__wave-img {
        max-height: 474px;
        padding-bottom: 0;
    }

    .adv__wave-icon {
        width: 160px;
        height: 160px;
        top: 0;
        left: 0;
    }

    .adv__description {
        max-width: 541px;
    }

    .adv__title {
        width: 441px;
    }

    .adv__price {
        margin-bottom: 30px;
    }

}
