@media (max-width: 1024px) {
    .playlists__box {
        width: 100%;
        max-width: 100%;
    }

    .playlists__card-box {
        width: 100%;
    }

    .playlists__additional-information-box {
        max-width: 100%;
    }

    .playlists__buttons-wrap {
        max-width: 570px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .playlists__label:nth-child(-n + 4) {
        width: 127px;
    }

    .playlists__label {
        justify-content: flex-start;
    }


    .playlists__label-1 {
        order: 1;
    }

    .playlists__label-2 {
        order: 3;
    }

    .playlists__label-3 {
        order: 5;
    }

    .playlists__label-4 {
        order: 7;
    }

    .playlists__label-5 {
        order: 2;
    }

    .playlists__label-6 {
        order: 4;
    }

    .playlists__label-7 {
        order: 6;
    }

    .playlists__label-8 {
        order: 8;
    }

    .playlist__card-box {
        width: 100%;
    }

    .playlists__card {
        min-width: 255px;
        min-height: 112px;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .playlists__card-wrap-img {
        max-width: 112px;
        max-height: 112px;
    }

    .playlists__card-wrap-flag {
        right: 88px;
    }

    .playlists__card-content {
        min-width: 142px;
        min-height: 110px;
    }

    .playlists__card-content-title {
        padding-left: 10px;
    }

    .playlists__card-content-description {
        padding-left: 10px;
    }

}