@media (max-width: 320px) {
    .section-about {
        min-height: 1000px;
    }
    
    .about {
        padding: 54px 0;
    }

    .about__description-box {
        margin-bottom: 26px;
    }

    .about__description {
        margin-right: 0;
        margin-bottom: 0;
    }

    .about__title {
        font-size: 24px;
    }

    .about__subtitle {
        font-size: 14px;
        margin-bottom: 4px;
    }

    .about__text {
        font-size: 14px;
    }

    .about__icon-box {
        display: none;
    }

    .about__dawn-icon,
    .about__spiral-horizontal-icon {
        display: none;
    }

    .about__card-img-box {
        min-height: 113px;
    }

    .about__card-content {
        padding-top: 10px;
    }

    .about__card-name {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .about__card-description {
        font-size: 12px;
        line-height: 16px;
    }

    .about__btn-next,
    .about__btn-prev {
        display: none;
    }

    .about__swiper-pagination {
        display: none;
    }

    .about__form-textarea {
        font-size: 16px;
        line-height: 16px;
        padding: 15px 10px 10px 23px;
        min-height: 122px;
    }

    .about__form-input {
        height: 28px;
        font-size: 16px;
        line-height: 16px;
        padding: 10px 10px 10px 23px;
    }

    .about__form-btn-box {
        min-height: 85px;
    }

    .about__form-input {
        margin-bottom: 30px;
    }

    .about__form-btn {
        width: 173px;
        height: 50px;
        font-size: 16px;
        line-height: 16px;
    }

    .about__form-checkbox-text {
        font-size: 9px;
        line-height: 9px;
    }
}

