@media (max-width: 1024px) {
    .container {
        padding: 0 100px;
    }

    .header__upper-section {
        position: relative;
        min-height: 60px;
        background-color: var(--very-pale-blue);
    }

    .header__central-section {
        min-height: 80px;
    }

    .header__wrapper-logo {
        position: absolute;
        top: 23px;
        left: 100px;
        padding-top: 0;
    }

    .header__logo {
        width: 112px;
        height: 14px;
        padding-top: 0;
    }

    .header__nav {
        padding-left: 0;
        padding-right: 30px;

    }

    .header__menu {
        align-items: center;
    }

    .header__menu-item {
        padding-top: 0;
    }

    .header__wrapper-btn {
        align-items: center;
    }

    .header__search-btn {
        padding-top: 0;
    }
}