.section-adv {
    width: 100%;
    min-height: 575px;
    background-color: var(--granite);
}

.adv {
    width: 100%;
    min-height: inherit;
    display: flex;
    justify-content: space-between;
    padding: 97px 0 133px 0;
}

.adv__wrap-w-wave {
    position: relative;
    max-width: 640px;
    min-height: 100%;
    display: flex;
    align-items: center;
}

.adv__wave-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.adv__wave-icon {
    position: absolute;
    top: -3px;
    left: -5px;
    width: 160px;
    height: 160px;
}