.section-adv {
    width: 100%;
    min-height: 575px;
    background-color: var(--granite);
}

.adv {
    width: 100%;
    min-height: inherit;
    display: flex;
    justify-content: space-between;
    padding: 97px 0 133px 0;
}

.adv__wrap-w-wave {
    position: relative;
    max-width: 640px;
    min-height: 100%;
    display: flex;
    align-items: center;
}

.adv__wave-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.adv__wave-icon {
    position: absolute;
    top: -3px;
    left: -5px;
    width: 160px;
    height: 160px;
}

.adv__description {
    max-width: 445px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.adv__title {
    color: var(--pale-yellow);
    font-family: 'Muller Regular';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 14px;
}

.adv__description-wave {
    margin-bottom: 15px;
}

.adv__text-1 {
    color: var(--white-background);
    font-family: 'Muller Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    margin-bottom: 12px;
}

.adv__text-2 {
    color: var(--white-background);
    font-family: 'Muller Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    margin-bottom: 21px;
}

.adv__price {
    color: var(--white-background);
    font-family: 'Muller Medium';
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 25px;
}

.adv__link {
    width: 300px;
    height: 70px;
    border-radius: 100px;
    border: 2px solid var(--pale-yellow);
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pale-yellow);
    font-family: 'Muller Medium';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    transition: background-color .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out;
}

.adv__link:hover {
    background-color: var(--pale-yellow);
    color: var(--text-color);
}

.adv__link:focus {
    background-color: var(--moderate-greenish-yellow);
    color: var(--text-color);
}

.adv__link:focus {
    background-color: var(--moderate-greenish-yellow);
    border-color: var(--moderate-greenish-yellow);
}

.adv__link-icon {
    margin-right: 8px;
}

.adv__link-icon g path {
    transition: fill .3s ease-in-out;
}

.adv__link:hover .adv__link-icon g path:last-child {
    fill: var(--pale-yellow);
}

.adv__link:hover .adv__link-icon g path {
    fill: var(--text-color);
}