/* 1024 */
@media (max-width:1024px) {

  .container-fluid {
    padding: 0 100px;
  }

  /* header */
  .header {
    width: 100%;
    height: 200px;
  }

  .header__holder {
    width: 100%;
    height: 60px;
  }

  .header__holder-logo {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #D2D5DD;
  }

  .header__logo-wrapper {
    position: absolute;
    top: 23px;
    left: 100px;
    min-height: 0;
  }

  .logo {
    width: 112px;
    height: 14px;
  }

  .header__menu {
    padding: 0;
  }

  .header__item:not(:last-child) {
    margin-right: 60px;
  }

  .header__subitem:not(:last-child) {
    margin-right: 29px;
  }

  .header__broadcast-list {
    width: 58%;
  }

  .header__broadcast-item {
    width: 150px;
  }

  .header__broadcast-content {
    padding-right: 0;
  }

  .header__broadcast-title {
    padding-right: 10px;
  }

  .header__broadcast-description {
    padding-right: 15px;
  }

  .header__broadcast-item-last {
    display: none;
  }

}


/* 768 */
@media (max-width:768px) {

  .container-fluid {
    padding: 0 114px;
  }

  /* header */
  .header {
    width: 100%;
    height: 200px;
  }

  .header__holder {
    width: 100%;
    height: 60px;
  }

  .header__holder-logo {
    position: relative;
    width: 100%;
    min-height: 60px;
    background-color: #D2D5DD;
  }

  .buttons-space-between {
    justify-content: space-between;
  }

  .burger {
    display: block;
  }

  .header__logo-wrapper {
    position: absolute;
    top: 23px;
    left: 114px;
  }

  .logo {
    width: 112px;
    height: 14px;
  }

  .header__nav {
    display: none;
  }

  .header__search-btn {
    margin-left: 66%;
  }

  .header__broadcast-list {
    display: none;
  }

  .header__paly-icon-768-list {
    display: block;
  }

}


/* 320 */
@media (max-width:320px) {

  .container-fluid {
    padding: 0 32px;
  }

  .container-fluid-height {
    height: 50px;
  }

  /* header */
  .header {
    width: 100%;
    height: 200px;
  }

  .header__holder {
    width: 100%;
    height: 50px;
  }

  .header__holder-logo {
    position: relative;
    width: 100%;
    min-height: 50px;
    background-color: #D2D5DD;
  }

  .header__bottom-box {
    min-height: 45px;
  }

  .buttons-space-between {
    align-items: flex-start;
    padding-top: 15px;
  }

  .header__logo-wrapper {
    position: absolute;
    top: 23px;
    left: 32px;
  }

  .logo {
    width: 87px;
    height: 10px;
  }

  .header__top-box {
    min-height: 54px;
  }

  .header__log-in-btn {
    position: absolute;
    top: 10px;
    right: 32px;
    width: 87px;
    height: 35px;
    padding: 15px 42px;
    border: 2px solid #121723;
    border-radius: 77px;
  }

  .header__search-btn {
    margin: 0;
    padding-top: 3px;
  }

  .header__subnav {
    display: none;
  }

  .header__paly-icon-768-list {
    display: none;
  }

  .header__broadcast-menu-320 {
    display: block;
    width: 100%;
    min-height: 45px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .header__broadcast-menu-320-item .header__broadcast-menu-320-btn {
    width: 100%;
    min-height: 45px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    outline: none;
  }

  .header__broadcast-menu-320-btn-icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }

  .header__broadcast-menu-320-btn-text {
    font-family: 'MullerMedium';
    font-size: 16px;
    line-height: 16px;
    color: #6D31EE;
  }

  .header__broadcast-menu-320-content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__broadcast-menu-320-content::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 62px;
    background-color: #D2D5DD;
    top: 9px;
    left: 40%;
  }

  .header__broadcast-menu-320-content-wrapper {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0 6px 0;
  }

  .header__broadcast-content {
    align-items: start;
  }

  .header__broadcast-menu-320-icon {
    margin-bottom: 8px;
  }

  .header__broadcast-menu-320-btn-icon {
    transform: rotate(45deg);
    transition: transform .5s ease-in-out;
    will-change: transform;
  }

  .header__broadcast-menu-320.open-header-menu-320 .header__broadcast-menu-320-btn-icon {
    transform: rotate(-90deg);
  }

  .header__broadcast-menu-320.open-header-menu-320 .header__broadcast-menu-320-btn {
    background: linear-gradient(0deg, #E6E8EC, #E6E8EC),
      linear-gradient(0deg, rgba(230, 232, 236, 0.4), rgba(230, 232, 236, 0.4));
    border: 1px solid rgba(230, 232, 236, 0.4);
  }

  .header__broadcast-title {
    padding: 0;
    font-size: 10px;
    line-height: 10px;
  }

  .header__broadcast-description {
    padding: 0;
    font-size: 14px;
    line-height: 14px;
  }


}
