/* 1024 */
@media (max-width: 1024px) {

  .header {
    padding-top: 60px;
  }

  .header::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #D2D5DD;
    z-index: -1;
  }

  .container {
    padding: 0 100px;
  }

  .logo-wrapper {
    top: 23px;
    left: 100px;
    padding: 0;
  }

  .logo {
    width: 112px;
    height: 14px;
  }

  .header__top-menu {
    padding-left: 0;
    padding-right: 33px;
  }

  .header__bottom-menu {
    padding-right: 35px;
  }

  .header__bottom-play-list {
    min-width: 150px;
    padding-left: 10px;
  }

  .header__bottom-play-list-content {
    padding-right: 24px;
  }

  .header__bottom-play-list:last-child {
    display: none;
  }
}



/* 768 */
@media (max-width: 768px) {

  .header__top-section {
    padding-right: 104px;
  }

  .container {
    padding: 0 114px;
  }

  .logo-wrapper {
    left: 114px;
  }

  .burger {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    z-index: 3;
    justify-self: flex-start;
  }

  .burger__line {
    position: absolute;
    width: 24px;
    height: 3px;
    top: 0;
    left: -1px;
    background-color: #6D31EE;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, background-color .3s ease-in-out;
  }

  .burger__line:nth-child(2) {
    transform: translateY(11px);
  }

  .burger__line:nth-child(3) {
    transform: translateY(21px);
  }

  .header.open-menu .burger__line:nth-child(1) {
    transform: translateY(12px) rotate(-45deg);
  }

  .header.open-menu .burger__line:nth-child(2) {
    opacity: 0;
  }

  .header.open-menu .burger__line:nth-child(3) {
    transform: translateY(12px) rotate(45deg);
  }

  .header__top-nav {
    position: absolute;
    top: 0;
    left: -768px;
    width: 768px;
    background-color: #D2D5DD;
    padding: 106px 350px 51px 114px;
    transition: transform .5s ease-in-out;
    z-index: 2;
  }

  .header__top-menu {
    padding-top: 55px;
    padding-right: 0;
    align-items: start;
  }

  .header__top-item {
    margin-right: 48px;
    margin-bottom: 64px;
  }

  .header__top-item:last-child {
    margin-right: 100px;
  }

  .four-item {
    order: 2;
  }

  .three-item {
    order: 5;
  }

  .one-item {
    order: 1;
  }

  .two-item {
    order: 3;
  }

  .five-item {
    order: 4;
  }

  .header.open-menu .header__top-nav {
    transform: translateX(100%);
  }

  .header__top-log-in-btn {
    position: absolute;
    top: 80px;
    right: 114px;
  }

  .header__top-nav-decoration {
    display: block;
    position: absolute;
  }

  .decoration-1 {
    top: 0;
    right: 100px;
  }

  .decoration-2 {
    top: 150px;
    right: 250px;
  }

}



/* 320 */
@media (max-width: 320px) {

  .header {
    padding-top: 55px;
  }

  .header::after {
    height: 55px;
  }

  .container {
    padding: 0 32px;
  }

  .logo-wrapper {
    top: 20px;
    left: 32px;
  }

  .logo {
    width: 88px;
    height: 11px;
  }

  .header__top-section {
    width: 100%;
    min-height: 50px;
  }

  .header__bottom-section {
    width: 100%;
    min-height: 45px;
  }

  .header__bottom-section::before {
    bottom: 45px;
  }

  .burger__line {
    left: 0;
  }

  .header__top-nav {
    left: -320px;
    width: 320px;
    padding: 60px 38px 24px 32px;
  }

  .header__top-item {
    margin-right: 0;
  }

  .header__top-item:nth-child(4) {
    margin-top: 50px;
    margin-bottom: 0;
  }

  .header__top-item:nth-child(5) {
    margin-top: 50px;
    margin-bottom: 0;
  }

  .header__top-item:last-child {
    margin-right: 55px;
  }

  .header__top-nav-decoration {
    display: none;
  }

  .header__top-log-in-btn {
    width: 87px;
    height: 35px;
    padding: 15px 41px;
    right: 32px;
    top: 9px;
  }

  .header__top-section {
    padding-right: 0;
  }

  .header__top-search-btn {
    margin-right: 0;
  }

  .header__bottom-nav {
    position: absolute;
    top: 392px;
    left: -320px;
    width: 320px;
    padding: 30px 50px 0 32px;
    background-color: #fff;
    border-bottom: 1px solid #D2D5DD;
    transition: transform .5s ease-in-out;
    z-index: 2;
  }

  .header.open-menu .header__bottom-nav {
    transform: translateX(100%);
  }

  .header__bottom-menu {
    align-items: start;
  }

  .header__bottom-item {
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .header__bottom-item:nth-child(4) {
    margin-right: 40px;
  }

  .header__bottom-item:nth-child(6) {
    margin-right: 35px;
  }

  .one-bottom-item {
    order: 1;
  }

  .two-bottom-item {
    order: 3;
  }

  .three-bottom-item {
    order: 5;
  }

  .four-bottom-item {
    order: 2;
  }

  .five-bottom-item {
    order: 4;
  }

  .six-bottom-item {
    order: 6;
  }

}
