@media (max-width:1024px) {

  /* header */
  .header {
    width: 100%;
    height: 200px;
    background-color: antiquewhite;
  }

  .header__holder {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: aqua;
  }

  .header__holder-logo {
    position: relative;
    height: 50px;
    width: 200px;
    background-color: blueviolet;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
  }
}
