@font-face {
  font-family: 'MullerThinDEMO';
  src: local('MullerThinDEMO'),
    url("../fonts/MullerThinDEMO.woff2") format('woff2'),
    url("../fonts/MullerThinDEMO.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MullerExtraBoldDEMO';
  src: local('MullerExtraBoldDEMO'),
    url("../fonts/MullerExtraBoldDEMO.woff2") format('woff2'),
    url("../fonts/MullerExtraBoldDEMO.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* header */
.header {
  width: 100%;
  height: 140px;
  background-color: #fff;
}

.container-fluid {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  padding: 0 405px;
  background-color: #D2D5DD;
}

.row-height {
  height: 100%;
}

.logo {
  width: 160px;
  height: 20px;
}
