@font-face {
  font-family: 'MullerMedium';
  src: url('MullerMedium.eot');
  src: local('Muller Medium'), local('MullerMedium'),
    url('../fonts/MullerMedium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff'),
    url('../fonts/MullerMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MullerRegular';
  src: url('MullerRegular.eot');
  src: local('Muller Regular'), local('MullerRegular'),
    url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff'),
    url('../fonts/MullerRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MullerLight';
  src: url('MullerLight.eot');
  src: local('Muller Light'), local('MullerLight'),
    url('../fonts/MullerLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff'),
    url('../fonts/MullerLight.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MullerBold';
  src: url('MullerBold.eot');
  src: local('Muller Bold'), local('MullerBold'),
    url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff'),
    url('../fonts/MullerBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* container-fluid */
.container-fluid {
  max-width: 1920px;
  width: 100%;
  min-height: inherit;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 405px;
}

/* header */
.header {
  width: 100%;
  height: 140px;
}

.header__top-box {
  width: 100%;
  min-height: 80px;
  border-bottom: 1px solid #D2D5DD;
}

.header__bottom-box {
  min-height: 60px;
  border-bottom: 1px solid #D2D5DD;
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100%;
  width: 225px;
}

.logo {
  width: 190px;
  height: 20px;
}

.header__nav {
  width: 100%;
  min-height: inherit;
}

.header__menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-left: 80px;
}

.header__item:not(:last-child) {
  margin-right: 60px;
}

.header__link {
  font-family: 'MullerLight';
  font-size: 20px;
  line-height: 20px;
  color: #121723;
}

.header__search-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  margin-right: 23px;
  padding: 3px 0 0 0;
}

.header__log-in-btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 43px;
  gap: 4px;
  width: 104px;
  height: 40px;
  border: 2px solid #121723;
  border-radius: 77px;
  font-family: 'MullerMedium';
  font-size: 16px;
  line-height: 16px;
  color: #121723;
}

.burger {
  display: none;
  position: relative;
  width: 28px;
  height: 28px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.burger .burger__line {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 24px;
  height: 3px;
  background-color: #6D31EE;
}

.burger .burger__line:nth-child(2) {
  transform: translateY(10px);
}

.burger .burger__line:nth-child(3) {
  transform: translateY(20px);
}

.header__subnav {
  min-height: inherit;
  width: 100%;
}

.header__submenu {
  min-height: 60px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__subitem:not(:last-child) {
  margin-right: 53px;
}

.header__sublink {
  font-family: 'MullerLight';
  font-size: 16px;
  line-height: 16px;
  color: #121723;
}

.header__broadcast-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  min-height: 60px;
  margin: 0;
  padding: 0;
}

.header__broadcast-item {
  width: 178px;
  height: 60px;
  display: flex;
  align-items: center;
}

.header__broadcast-item-last {
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__broadcast-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.header__broadcast-wrapper::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 0px;
  width: 1px;
  height: 40px;
  background-color: #D2D5DD;
}

.header__broadcast-wrapper::before {
  position: absolute;
  content: "";
  top: 10px;
  right: -1px;
  width: 1px;
  height: 40px;
  background-color: #D2D5DD;
}

.header__broadcast-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
}

.header__broadcast-wrapper-last {
  height: 60px;
}

.header__broadcast-icon-wrapper-last {
  height: 60px;
}

.header__broadcast-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 40px;
}

.header__broadcast-title {
  font-family: 'MullerLight';
  font-size: 12px;
  line-height: 12px;
  color: #A1A6B4;
  margin-bottom: 5px;
}

.header__broadcast-description {
  font-family: 'MullerLight';
  font-size: 16px;
  line-height: 16px;
  color: #121723;
}

.header__paly-icon-768-list {
  display: none;
  list-style: none;
  min-height: 60px;
  width: 24px;
  margin: 0;
  padding: 0;
}

.header__play-icon-768-item {
  width: 24px;
  height: 60px;
}

.header__play-icon-768-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.ac .ac-trigger::after {
  content: "";
}

.ac {
  margin-top: 0;
  border: none;
  background-color: transparent;
}

.header__broadcast-menu-320-content {
  will-change: transform;
}

.ac-panel {
  will-change: transform;
}

.header__broadcast-menu-320 {
  display: none;
}



