@font-face {
  font-family: 'MullerMedium';
  src: url('MullerMedium.eot');
  src: local('Muller Medium'), local('MullerMedium'),
    url('../fonts/MullerMedium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff'),
    url('../fonts/MullerMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MullerRegular';
  src: url('MullerRegular.eot');
  src: local('Muller Regular'), local('MullerRegular'),
    url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff'),
    url('../fonts/MullerRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MullerLight';
  src: url('MullerLight.eot');
  src: local('Muller Light'), local('MullerLight'),
    url('../fonts/MullerLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff'),
    url('../fonts/MullerLight.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MullerBold';
  src: url('MullerBold.eot');
  src: local('Muller Bold'), local('MullerBold'),
    url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff'),
    url('../fonts/MullerBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* header */
.header {
  position: relative;
  width: 100%;
}

/* container */
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 405px;
}

.logo-wrapper {
  position: absolute;
  width: 160px;
  top: 30px;
}

.logo {
  width: 160px;
  height: 20px;
}

.header__top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 80px;
}

.header__bottom-section {
  width: 100%;
  min-height: 60px;
  display: flex;
}

.header__top-section::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #D2D5DD;
  bottom: 0;
  left: 0;
}

.header__bottom-section::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #D2D5DD;
  bottom: 60px;
  left: 0;
}

.burger {
  display: none;
}

.header__top-nav {
  width: 100%;
  min-height: inherit;
}

.header__top-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 240px;
  padding-right: 80px;
  justify-content: space-between;
}

.header__top-link {
  font-family: 'MullerRegular';
  font-size: 20px;
  line-height: 20px;
  color: #121723;
}

.header__top-search-btn {
  padding: 0;
  padding-top: 5px;
  margin-right: 26px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__top-log-in-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 43px;
  gap: 4px;
  width: 104px;
  height: 40px;
  border: 2px solid #121723;
  border-radius: 77px;
  background-color: transparent;
  cursor: pointer;
  font-family: 'MullerMedium';
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #121723;
}

.header__top-nav-decoration {
  display: none;
}

.header__bottom-nav {
  width: 100%;
  min-height: inherit;
}

.header__bottom-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 51px;
}

.header__bottom-link {
  font-family: 'MullerRegular';
  font-size: 16px;
  line-height: 16px;
  color: #121723;
}

.header__bottom-play-list {
  position: relative;
  min-width: 175px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 13px;
}

.header__bottom-play-list::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 40px;
  top: 10px;
  left: 0;
  background-color: #D2D5DD;
}

.header__bottom-play-list::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 40px;
  top: 10px;
  right: -1px;
  background-color: #D2D5DD;
}

.header__bottom-play-list:last-child {
  min-width: 100px;
}

.header__bottom-play-list-icon-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__bottom-play-list-icon {
  width: 24px;
  height: 24px;
}

.header__bottom-play-list-icon-age {
  position: absolute;
  top: 0;
  right: -1px;
  width: 46px;
  height: 60px;
}

.header__bottom-play-list-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 45px;
}


.header__bottom-play-list-title {
  font-family: 'MullerRegular';
  font-size: 12px;
  line-height: 12px;
  color: #A1A6B4;
  margin-bottom: 5px;
}

.header__bottom-play-list-text {
  font-family: 'MullerRegular';
  font-size: 16px;
  line-height: 16px;
  color: #121723;
}
