.section-playlists {
    width: 100%;
    height: fit-content;
    background-color: var(--white-background);
}

.playlists {
    width: 100%;
    height: fit-content;
    padding: 94px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.playlists__box {
    max-width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.playlists__card-box {
    width: 720px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.playlists__additional-information-box {
    max-width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.playlists__title {
    color: var(--text-color);
    font-family: 'Muller Regular';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 12px;
}

.playlists__genre {
    color: var(--gray-window);
    font-family: 'Muller Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}

.playlists__buttons-wrap {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.playlists__label {
    width: fit-content;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 42px;
    margin-bottom: 16px;
}

.playlists__input {
    width: 0px;
    height: 0px;
    opacity: 0;
    appearance: none;
}

.playlists__inner {
    position: relative;
    color: var(--text-color);
    font-family: 'Muller Regular';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.playlists__inner::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -42px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid var(--gray-window);
    background-color: var(--white-background);
    transition: border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.playlists__label:hover .playlists__inner::before {
    border-color: var(--default-state);
}

.playlists__input:checked + .playlists__inner::before {
    background-color: var(--default-state);
    border-color: var(--default-state);
}

.playlists__inner::after {
    position: absolute;
    content: "";
    top: 3px;
    left: -34px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: var(--white-background);
    transition: border-color .3s ease-in-out, background-color .3s ease-in-out;
}