.section-playlists {
    width: 100%;
    height: fit-content;
    background-color: var(--white-background);
}

.playlists {
    width: 100%;
    height: fit-content;
    padding: 94px 0 67px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.playlists__box {
    max-width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.playlists__title {
    color: var(--text-color);
    font-family: 'Muller Regular';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 12px;
}

.playlists__genre {
    color: var(--gray-window);
    font-family: 'Muller Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}

.playlists__buttons-wrap {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.playlists__label {
    width: fit-content;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 42px;
    margin-bottom: 16px;
}

.playlists__input {
    width: 0px;
    height: 0px;
    opacity: 0;
    appearance: none;
}

.playlists__inner {
    position: relative;
    color: var(--text-color);
    font-family: 'Muller Regular';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.playlists__inner::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -42px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid var(--gray-window);
    background-color: var(--white-background);
    transition: border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.playlists__label:hover .playlists__inner::before {
    border-color: var(--default-state);
}

.playlists__input:checked+.playlists__inner::before {
    background-color: var(--default-state);
    border-color: var(--default-state);
}

.playlists__inner::after {
    position: absolute;
    content: "";
    top: 3px;
    left: -34px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: var(--white-background);
    transition: border-color .3s ease-in-out, background-color .3s ease-in-out;
}





.playlist__card-box {
    width: 730px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 14px;
}

.playlists__card {
    min-width: 160px;
    min-height: 224px;
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.playlists__card-wrap-img {
    position: relative;
    max-width: 160px;
    max-height: 160px;
    display: flex;
    flex-shrink: 0;
}

.playlists__card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.playlists__card-wrap-flag {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-color);
}

.playlists__card-play-icon-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s ease-in-out, opacity .3s ease-in-out;
}

.playlists__card-play-icon {
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.playlists__card:hover .playlists__card-play-icon-wrap {
    background-color: var(--text-color);
    opacity: 0.8;
}

.playlists__card:hover .playlists__card-play-icon {
    opacity: 1;
    cursor: pointer;
}

.playlists__card-content {
    min-width: 158px;
    max-width: 158px;
    min-height: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--gray-background-section);
    border-top: none;
    transition: background-color .3s ease-in-out;
}

.playlists__card:hover .playlists__card-content {
    background-color: var(--default-state);
}

.playlists__card-content-title {
    color: var(--text-color);
    font-family: 'Muller Medium';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 4px;
    padding-left: 16px;
    transition: color .3s ease-in-out;
}

.playlists__card:hover .playlists__card-content-title {
    color: var(--white-background);
}

.playlists__card-content-description {
    color: var(--gray-window);
    font-family: 'Muller Regular';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 16px;
    transition: color .3s ease-in-out;
}

.playlists__card:hover .playlists__card-content-description {
    color: var(--white-background);
}





.playlists__note {
    max-width: 350px;
    min-height: 162px;
    display: flex;
    flex-direction: column;
    margin-top: -318px;
    border-top: 1px solid var(--very-pale-blue);
    padding-top: 38px;
}

.playlists__note-description {
    color: var(--gray-window);
    font-family: 'Muller Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.playlists__note-2021-icon {
    margin-bottom: 14px;
}