@media (max-width: 768px) {
    .podcasts__basic {
        justify-content: center;
    }

    .podcasts__card {
        width: 540px;
    }

    .podcasts__wrapper-btn {
        padding-top: 30px;
    }
}