@media (max-width: 320px) {
    .section-adv {
        min-height: 904px;
    }    

    .adv {
        min-height: 798px;
        padding: 54px 0 52px 0;
    }

    .adv__wrap-w-wave {
        max-width: 256px;
        max-height: 225px;
    }

    .adv-wave-img {
        max-height: 225px;
    }
}
