@media (max-width: 320px) {
    .section-adv {
        min-height: 904px;
    }    

    .adv {
        min-height: 798px;
        padding: 54px 0 54px 0;
    }

    .adv__wrap-w-wave {
        max-width: 256px;
        max-height: 225px;
        margin-bottom: 37px;
    }

    .adv__wave-img {
        max-height: 225px;
    }

    .adv__wave-icon {
        width: 62px;
        height: 62px;
        top: 0;
        left: 0;
    }

    .adv__description {
        max-width: 256px;
    }

    .adv__title {
        width: 100%;
        font-size: 24px;
        margin-bottom: 12px;
    }

    .adv__description-wave {
        margin-bottom: 9px;
    }

    .adv__text-1,
    .adv__text-2 {
        font-size: 14px;
        line-height: 160%;
    }

    .adv__text-2 {
        margin-bottom: 0px;
    }

    .adv__price {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .adv__link {
        width: 256px;
        height: 50px;
        font-size: 16px;
    }
}
