@media (max-width: 768px) {
    .playlists {
        padding-bottom: 36px;
    }
    
    .playlists__label {
        margin-bottom: 30px;
    }

    .playlist__card-box {
        padding-top: 20px;
    }
}